interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"minimum_supported_version": "1.3.1", "latest_version": "1.3.3"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"27c3611f3cf23f5e138de084cc76d1b7"'
      Last-Modified:
      - Wed, 18 Nov 2020 13:00:30 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - mG5i_duZYt9G0wN9uH2LFIW2WoQ756Fc
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/auscsj124wDoFObOJ4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - X7eobGJxZFlkQaWEcVfHXwAAAQk
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1188'
      x-rate-limit-reset:
      - '1605871743'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/virtual-data-source?company_slug=panoramic-cli-e2e-c2m6qp4u&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1b8c0c8a-558b-4d43-93e3-f66a131ec897
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/taxonomy/taxons?company_slug=panoramic-cli-e2e-c2m6qp4u&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - af584d75-c22e-489a-b265-776021182573
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"slug": "test_dataset", "display_name": "Test Dataset"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://diesel.panoramicapi.com/api/v1/federated/virtual-data-source?company_slug=panoramic-cli-e2e-c2m6qp4u
  response:
    body:
      string: '{"data":{"display_name":"Test Dataset","global_slug":"panoramic_cli_e2e_c2m6qp4u_v_d_s_test_dataset","slug":"test_dataset"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 037f83c8-d8d1-4661-9b95-893515e27a21
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: '{"model_name": "test_model", "data_source": "pano_snowflake_panoramic_cli_e_2_e_c_2_m_6_qp_4_u.snowflake_sample_data.tpch_sf1.nation",
      "fields": [{"field_map": ["dataset_test_field"], "data_reference": "\"N_NAME\""}],
      "joins": [{"to_model": "other_model", "join_type": "left", "relationship": "many_to_one",
      "fields": ["dataset_test_field"]}], "identifiers": ["dataset_test_field"], "visibility":
      "available"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://diesel.panoramicapi.com/api/v1/federated/model/?virtual_data_source=test_dataset&company_slug=panoramic-cli-e2e-c2m6qp4u
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - bd3a534d-06a1-4cb3-a99b-c69d619cfb87
    status:
      code: 204
      message: NO CONTENT
[...]
- request:
    body: '[{"slug": "company_test_field", "group": "Custom", "display_name": "Company
      test field", "data_type": "text", "field_type": "dimension", "description":
      null, "calculation": "2 + 2", "aggregation": {"type": "group_by"}, "data_source":
      null, "display_format": null}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/taxonomy/taxons?company_slug=panoramic-cli-e2e-c2m6qp4u
  response:
    body:
      string: '{"data":[{"acronym":null,"aggregation":{"type":"group_by"},"calculation":"2
        + 2","data_type":"text","description":null,"display_format":null,"display_name":"Company
        test field","field_type":"dimension","group":"Custom","slug":"company_test_field","validation_type":"text"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 0479286c-89cc-46d9-b7dc-968c57d84b03
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/model/?virtual_data_source=test_dataset&company_slug=panoramic-cli-e2e-c2m6qp4u&offset=0&limit=100
  response:
    body:
      string: '{"data":[{"data_source":"pano_snowflake_panoramic_cli_e_2_e_c_2_m_6_qp_4_u.snowflake_sample_data.tpch_sf1.nation","fields":[{"data_reference":"\"N_NAME\"","data_type":null,"field_map":["dataset_test_field"]}],"identifiers":["dataset_test_field"],"joins":[{"fields":["dataset_test_field"],"join_type":"left","relationship":"many_to_one","to_model":"other_model"}],"model_name":"test_model","visibility":"available"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c53da660-ce0e-4cb8-ad48-0e31521af45d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/taxonomy/taxons?company_slug=panoramic-cli-e2e-c2m6qp4u&offset=0&limit=100
  response:
    body:
      string: '{"data":[{"acronym":null,"aggregation":{"type":"group_by"},"aggregation_type":"group_by","calculation":"2
        + 2","data_type":"text","description":null,"display_format":null,"display_name":"Company
        test field","field_type":"dimension","group":"Custom","slug":"company_test_field","taxon_type":"dimension","validation_type":"text"},{"acronym":null,"aggregation":{"type":"sum"},"aggregation_type":"sum","calculation":null,"data_source":"test_dataset","data_type":"text","description":null,"display_format":null,"display_name":"Dataset
        test field","field_type":"metric","group":"Custom","slug":"test_dataset|dataset_test_field","taxon_type":"metric","validation_type":"text"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 6a6415a7-f12a-4922-91b7-0f6427cc32ce
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://diesel.panoramicapi.com/api/v1/federated/virtual-data-source/test_dataset?company_slug=panoramic-cli-e2e-c2m6qp4u
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - f97e2a93-37d6-4f09-96e2-3304d25d1893
    status:
      code: 204
      message: NO CONTENT
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://diesel.panoramicapi.com/api/v1/federated/model/test_model?virtual_data_source=test_dataset&company_slug=panoramic-cli-e2e-c2m6qp4u
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - 9913f153-3903-4f8c-8bbd-7ea96b441b2f
    status:
      code: 204
      message: NO CONTENT
[...]
- request:
    body: '["company_test_field"]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/taxonomy/taxons/delete?company_slug=panoramic-cli-e2e-c2m6qp4u
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - e3969afb-0d6e-46f9-990a-b2b2b4461397
    status:
      code: 204
      message: NO CONTENT
- request:
    body: '["test_dataset|dataset_test_field"]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/taxonomy/taxons/delete?company_slug=panoramic-cli-e2e-c2m6qp4u
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - 72c3a152-e3ca-4f4f-a02f-e16489e7fc06
    status:
      code: 204
      message: NO CONTENT
version: 1
