interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"minimum_supported_version": "1.0.0", "latest_version": "1.1.3"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"f909f1f87cd96b2a875ec235b47b3bbe"'
      Last-Modified:
      - Thu, 15 Oct 2020 10:48:42 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - rQRcgwfYBj2zd3svS5TmidQNMfGmSjmq
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/auscsj124wDoFObOJ4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - X5vv0uP-AF2iyWV2@aUz-AAABMI
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1199'
      x-rate-limit-reset:
      - '1604055054'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/virtual-data-source?company_slug=panoramic-z5y1clyi&offset=0&limit=100
  response:
    body:
      string: '{"data":[{"display_name":"Test Dataset","global_slug":"panoramic_z5y1clyi_v_d_s_test_dataset","slug":"test_dataset"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - df4f19cd-a39e-4872-a771-7fcde2671f3a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/model/?virtual_data_source=test_dataset&company_slug=panoramic-z5y1clyi&offset=0&limit=100
  response:
    body:
      string: '{"data":[{"data_source":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.nation","fields":[{"data_reference":"\"N_NAME\"","data_type":"CHARACTER
        VARYING","field_map":["name"]}],"identifiers":["name"],"joins":[{"fields":["name"],"join_type":"left","relationship":"many_to_one","to_model":"other_model"}],"model_name":"test_model","visibility":"available"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3d4e04d0-5119-41ce-bc95-8b4ef1d35811
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/taxonomy/taxons?company_slug=panoramic-z5y1clyi&offset=0&limit=100
  response:
    body:
      string: '{"data":[{"aggregation":{"type":"sum"},"aggregation_type":"sum","calculation":null,"data_type":"numeric","description":"How
        much of the expected value has been delivered to the customer","display_name":"Delivery","field_type":"metric","group":"Custom","slug":"delivery","taxon_type":"metric"},{"calculation":null,"data_type":"text","description":null,"display_name":"Health
        Score Date","field_type":"dimension","group":"Custom","slug":"health_score_date","taxon_type":"dimension"},{"calculation":null,"data_type":"text","description":"Name
        of Client","display_name":"Account Name","field_type":"dimension","group":"Custom","slug":"account_name","taxon_type":"dimension"},{"calculation":null,"data_type":"text","description":null,"display_name":"Grade","field_type":"dimension","group":"Custom","slug":"grade_1","taxon_type":"dimension"},{"aggregation":{"type":"sum"},"aggregation_type":"sum","calculation":null,"data_type":"numeric","description":"How
        the customer feels about the platform","display_name":"Sentiment","field_type":"metric","group":"Custom","slug":"sentiment","taxon_type":"metric"},{"aggregation":{"type":"sum"},"aggregation_type":"sum","calculation":null,"data_type":"text","description":null,"display_format":"decimal_2","display_name":"Platform
        - Pano Test","field_type":"dimension","group":"Custom","slug":"platform_pano_test","taxon_type":"dimension"},{"aggregation":{"type":"sum"},"aggregation_type":"sum","calculation":null,"data_type":"numeric","description":"Ho
        much the client is engaged with the platform","display_name":"Usage","field_type":"metric","group":"Custom","slug":"usage","taxon_type":"metric"},{"aggregation":{"type":"sum"},"aggregation_type":"sum","calculation":null,"dat[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://diesel.panoramicapi.com/api/v1/federated/virtual-data-source/test_dataset?company_slug=panoramic-z5y1clyi
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - e8ce353e-8105-48c1-93d6-5fdda02f822a
    status:
      code: 204
      message: NO CONTENT
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://diesel.panoramicapi.com/api/v1/federated/model/test_model?virtual_data_source=test_dataset&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - 61c28bf0-74b9-4bc1-94f8-2c98932f362d
    status:
      code: 204
      message: NO CONTENT
version: 1
