interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.9.0", "minimum_supported_version": "0.9.0"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"8c5a0073438008aa2d82a4ee0ec798e5"'
      Last-Modified:
      - Tue, 18 Aug 2020 13:25:54 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - mqWuRCF5yzdAU.xDZMdGap6_or4wJXu0
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/auscsj124wDoFObOJ4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - X0zbnTZyMS9LilB@7kSOCAAAAQM
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1598872537'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/virtual-data-source?company_slug=panoramic-z5y1clyi&offset=0&limit=100
  response:
    body:
      string: '{"data":[{"display_name":"Test Dataset","global_slug":"panoramic_z5y1clyi_v_d_s_test_dataset","slug":"test_dataset"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - fa53e2e9-0003-4dda-ba42-986ae11044d9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/model/?virtual_data_source=test_dataset&company_slug=panoramic-z5y1clyi&offset=0&limit=100
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - aad7501f-5c03-4506-8050-c01cdb7ee641
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"slug": "test_dataset", "display_name": "Test Dataset"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://diesel.panoramicapi.com/api/v1/federated/virtual-data-source?company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"display_name":"Test Dataset","global_slug":"panoramic_z5y1clyi_v_d_s_test_dataset","slug":"test_dataset"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a0b51eee-4d6d-4599-8794-d527ef6fe41d
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: '{"model_name": "test_model", "data_source": "pano_snowflake_66.snowflake_sample_data.tpch_sf1.nation",
      "fields": [{"uid": null, "data_type": "CHARACTER VARYING", "field_map": ["name"],
      "data_reference": "\"N_NAME\""}], "joins": [{"to_model": "other_model", "join_type":
      "left", "relationship": "many_to_one", "fields": ["name"]}], "identifiers":
      ["name"], "visibility": "available"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://diesel.panoramicapi.com/api/v1/federated/model/?virtual_data_source=test_dataset&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - ff4d54e4-0c9b-4e17-8131-532d7542d4c3
    status:
      code: 204
      message: NO CONTENT
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://diesel.panoramicapi.com/api/v1/federated/virtual-data-source/test_dataset?company_slug=panoramic-z5y1clyi
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - 177f2297-7983-4e43-9fe2-ed827259a194
    status:
      code: 204
      message: NO CONTENT
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://diesel.panoramicapi.com/api/v1/federated/model/test_model?virtual_data_source=test_dataset&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-diesel-request-id:
      - 48f8d39f-e4c6-4e2b-b6b0-56d4d54b0833
    status:
      code: 204
      message: NO CONTENT
version: 1
