interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.9.0", "minimum_supported_version": "0.9.0"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"8c5a0073438008aa2d82a4ee0ec798e5"'
      Last-Modified:
      - Tue, 18 Aug 2020 13:25:54 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - mqWuRCF5yzdAU.xDZMdGap6_or4wJXu0
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - X0TJKVLv90FWf7SiCHORQgAACJs
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '597'
      x-rate-limit-reset:
      - '1598343508'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/tables?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY%25
  response:
    body:
      string: '{"data":{"job_id":"20bb36d3-19dd-137a-b7a3-61370f02e900"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 938da21d-5452-45cb-a631-646a1e35c61a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20bb36d3-19dd-137a-b7a3-61370f02e900
  response:
    body:
      string: '{"data":{"job_status":"COMPLETED"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 5ec07b4a-cf0d-4849-8270-a3852fa6821c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20bb36d3-19dd-137a-b7a3-61370f02e900/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","model_name":"sf.metrics3_stg.adwords_views.entity_accounts"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS","model_name":"sf.metrics3_stg.adwords_views.entity_adgroups"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE","model_name":"sf.metrics3_stg.adwords_views.entity_adgroups_from_service"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS","model_name":"sf.metrics3_stg.adwords_views.entity_ads"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE","model_name":"sf.metrics3_stg.adwords_views.entity_ads_from_service"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS","model_name":"sf.metrics3_stg.adwords_views.entity_advideos"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS","model_name":"sf.metrics3_stg.adwords_views.entity_campaigns"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION","model_name":"sf.metrics3_stg.adwords_views.entity_campaigns_criterion"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE","model_name":"sf.metrics3_stg.adwords_views.entity_campaigns_from_service"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS","model_name":"sf.metrics3_stg.adwords_views.entity_user_lists"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e5988f41-c5a7-42de-b57b-97d8f86774fa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb36d2-167e-c55b-2b7a-876475f6e100"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 501cb52e-c359-43c8-9d45-a367adc714cc
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"data":{"job_id":"84b8eea9-2ee3-42b7-a783-402f048bd6a5"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 6dcab7bd-583d-4e6f-a737-780a3d45e358
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/job/84b8eea9-2ee3-42b7-a783-402f048bd6a5
  response:
    body:
      string: '{"data":{"identifiers":[],"job_id":"84b8eea9-2ee3-42b7-a783-402f048bd6a5","status":"COMPLETED"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d3106424-ca49-4c34-8111-c7f19521489f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"data":{"job_id":"20bb36c0-ec47-d9e0-da73-0dce6ee40b00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a0a6e41f-023b-4fb7-9fc3-1fb4be3df7d7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20bb36c0-ec47-d9e0-da73-0dce6ee40b00/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"data_reference":"\"__API_VERSION\"","data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","data_type":"CHARACTER
        VARYING","field_map":["__api_version"],"model_name":"sf.metrics3_stg.adwords_views.entity_accounts","uid":"sf.metrics3_stg.adwords_views.entity_accounts.__api_version"},{"data_reference":"\"__DATA\"","data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","data_type":"CHARACTER
        VARYING","field_map":["__data"],"model_name":"sf.metrics3_stg.adwords_views.entity_accounts","uid":"sf.metrics3_stg.adwords_views.entity_accounts.__data"},{"data_reference":"\"__EXTRACTED_AT\"","data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","data_type":"TIMESTAMP","field_map":["__extracted_at"],"m[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb36be-8fe8-d402-86f5-e23e9ec34700"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 65512b5f-e5c3-46b3-bc0f-48e52c805074
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"data":{"job_id":"97547f60-a9f5-4326-bdbe-2b181e33ac3c"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d7e23a6d-55d4-46fc-a702-7c2860ad6a77
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"data":{"job_id":"20bb36ad-00e7-4b41-ccfe-4aa919216c00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 16664b36-cd31-441e-bc3e-2664db8ccd59
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb36aa-6731-3b30-7e43-33b071051000"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 54873cbd-5a26-4cf2-98c1-9c874770344d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"6244ba34-26bc-4418-b547-d8672f863297"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 37b0e119-5d07-48ca-9f35-cef10982ea4e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"20bb3687-3df8-7715-ed91-f3588aa9ad00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a2331106-4b30-411a-a909-e9fa039b7ec6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb3685-2bfb-3ed2-d75d-90a290d3d500"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 4b07488b-91b9-41ce-aef4-6d077c5c8343
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"data":{"job_id":"a9be51c7-9de1-416e-81d0-c858bd3f6c9f"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - dfe51ee9-a8f2-4037-9dbd-fb93f2ac177a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"data":{"job_id":"20bb3665-1a3b-8d32-3b6f-16f565fc1800"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 39f6c505-903b-493e-aa76-e08c8656fd47
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb365c-7292-6258-a1da-3674f58ea800"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 13b591c1-449b-4dfa-9554-f6b4ce45a2b0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"a9d92c0d-4428-4c13-9688-abf571edb5d2"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2c0c7f05-1ec1-49ef-82d8-2445feee96d3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"20bb363a-7984-c855-6460-41ccb0c14700"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a482d443-c8a0-4d51-b7c6-a4e5b0ac5813
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb3639-1aa4-cc8b-a9c7-1d56bf777100"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3189799a-4d96-451b-9e63-51489681b0d3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"data":{"job_id":"d47a2082-4246-499f-a65b-6db1d723563d"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 7071f930-e923-4b93-9f4a-8b0e6b83faba
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"data":{"job_id":"20bb3624-e04a-086d-2e64-9c5dd5589000"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ee992f52-ef7a-447f-a174-c19cdfa6d78c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb3622-cc21-1d19-00ae-944ffac56500"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c8af67c2-2738-4ce5-a126-f86c67af30e4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"data":{"job_id":"386eb097-9acf-4321-b757-4cf0b6d4e862"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 9f564461-8169-4aaa-9951-44332aaa5934
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"data":{"job_id":"20bb3614-cc47-4723-1ce0-5ef8eef40200"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 9f84e974-9c14-4f82-82b8-eda5c729bc5f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb3613-9903-ae22-9e52-acf1476d9e00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b066c2a8-6a10-43a9-a7ba-fb503000ed1d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"data":{"job_id":"b8aca681-db83-49e6-b980-14c1efcdc5a1"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 5e0b69fd-c910-44a9-a675-5bc3af549645
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"data":{"job_id":"20bb35f1-6221-031c-4a6d-49923a0bb800"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f35b6e46-5d73-47b8-a9f1-7d8d6c471d4e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb35ef-f3fb-d6ae-9238-e1d8c619dd00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2ae41903-889d-4108-9c46-36512e8fe089
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"4771b554-95f4-4d47-9f12-c155bd1610b4"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 424a63e0-7325-467b-a2dc-244df5de5ed5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"20bb35cf-e920-a1a3-d065-895ba2e8bf00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a94a6f25-c712-4e51-8cd1-9cb866b9abe8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb35ce-b752-4509-2b22-e4d81959c500"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ad6afdfd-23ca-4e53-83ba-86e937704fc1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/identifier/SF?company_slug=operam&table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"data":{"job_id":"e80d62bd-f552-4485-88b5-da795cd640d4"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1cf5b46a-0ad8-4f0f-b478-9f1db36aee55
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"data":{"job_id":"20bb35a6-8f61-924a-69fb-06d7e0897000"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ad5ee5ed-261a-49e5-8473-4f3606bfcb10
    status:
      code: 200
      message: OK
[...]
