interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.9.0", "minimum_supported_version": "0.9.0"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"8c5a0073438008aa2d82a4ee0ec798e5"'
      Last-Modified:
      - Tue, 18 Aug 2020 13:25:54 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - mqWuRCF5yzdAU.xDZMdGap6_or4wJXu0
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/aus5iy3utLXi3Ez4A4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - X0TIzVLv90FWf7SiCHOO4AAACNE
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1598343433'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/tables?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY%25
  response:
    body:
      string: '{"data":{"job_id":"20bb372f-59de-c9c8-5f62-9bdc40372300"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e26cd22a-131e-4619-b195-eda5610f5a4d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20bb372f-59de-c9c8-5f62-9bdc40372300
  response:
    body:
      string: '{"data":{"job_status":"COMPLETED"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ffe182c4-3166-4a3f-bc96-8a1a886b6ccf
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20bb372f-59de-c9c8-5f62-9bdc40372300/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","model_name":"sf.metrics3_stg.adwords_views.entity_accounts"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS","model_name":"sf.metrics3_stg.adwords_views.entity_adgroups"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE","model_name":"sf.metrics3_stg.adwords_views.entity_adgroups_from_service"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS","model_name":"sf.metrics3_stg.adwords_views.entity_ads"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE","model_name":"sf.metrics3_stg.adwords_views.entity_ads_from_service"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS","model_name":"sf.metrics3_stg.adwords_views.entity_advideos"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS","model_name":"sf.metrics3_stg.adwords_views.entity_campaigns"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION","model_name":"sf.metrics3_stg.adwords_views.entity_campaigns_criterion"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE","model_name":"sf.metrics3_stg.adwords_views.entity_campaigns_from_service"},{"data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS","model_name":"sf.metrics3_stg.adwords_views.entity_user_lists"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 4600dacc-aec0-4c20-98af-2865dd95919f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb372c-13ec-91ae-1207-4594d9525f00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - bbf99a42-2176-48d8-a8d3-3e3dc41d0a5a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS
  response:
    body:
      string: '{"data":{"job_id":"20bb3728-cb3f-7923-a1c1-905c5984f500"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 7833aa75-5b0a-4321-a160-52b0ee540992
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/job/20bb3728-cb3f-7923-a1c1-905c5984f500/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"data_reference":"\"__API_VERSION\"","data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","data_type":"CHARACTER
        VARYING","field_map":["__api_version"],"model_name":"sf.metrics3_stg.adwords_views.entity_accounts","uid":"sf.metrics3_stg.adwords_views.entity_accounts.__api_version"},{"data_reference":"\"__DATA\"","data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","data_type":"CHARACTER
        VARYING","field_map":["__data"],"model_name":"sf.metrics3_stg.adwords_views.entity_accounts","uid":"sf.metrics3_stg.adwords_views.entity_accounts.__data"},{"data_reference":"\"__EXTRACTED_AT\"","data_source":"SF.METRICS3_STG.ADWORDS_VIEWS.ENTITY_ACCOUNTS","data_type":"TIMESTAMP","field_map":["__extracted_at"],"m[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb3726-9780-b786-af66-3f869f91b700"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - aca9c5cf-769b-457c-84e8-bf7191556a76
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS
  response:
    body:
      string: '{"data":{"job_id":"20bb3725-0d1e-339a-acbb-d1db79ee4f00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - be367ed5-946e-4d8d-9b1a-e912e88d700c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb3722-9f75-7174-2cd4-004485a10600"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 238a48a6-8979-446b-964c-d222d2a450c2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADGROUPS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"20bb371f-cff9-9b2c-38a9-75b421f97600"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 84747884-f33e-4bbd-b2cd-bef38df8bd29
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb371e-970f-66d3-ef1e-1674f38e3400"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 8982eb8d-0e3d-4066-9e21-ba1acdfdc1b6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS
  response:
    body:
      string: '{"data":{"job_id":"20bb371e-5133-fa57-aabc-e2999f226a00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 6a669947-4b98-490a-8de4-9c96b80deb15
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb371c-6573-de8d-e52b-9e568c135500"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ced46148-a726-4d6e-a998-57c59ae45204
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"20bb3719-088f-92d0-7e2d-bfaad6537a00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 162696f4-daa6-4259-9acb-a405bf323009
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb3717-127e-bf74-c65e-665624c11400"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 128c7af0-5ae0-4ec7-b006-49f5116a8516
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_ADVIDEOS
  response:
    body:
      string: '{"data":{"job_id":"20bb3716-5f12-98d8-445f-fd27f8f57d00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 63b75492-adf3-4e44-a130-34944d14c234
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb3714-6071-2e7d-0eaa-85a2d115d000"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3c37d7ab-575e-44f0-aa6b-dad7ad85113a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS
  response:
    body:
      string: '{"data":{"job_id":"20bb3709-68ef-e4cf-160c-a581c6a8c400"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 23ef3796-c2c9-4d3d-86aa-e6f5d6cfb033
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb3707-4ba3-e84d-a95d-240c03cef700"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 9d29f5ad-4665-4980-8172-b7fe7f84a982
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_CRITERION
  response:
    body:
      string: '{"data":{"job_id":"20bb3704-9db8-bc09-a2c8-0be4b39b9600"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 6c18d84f-2694-424c-924f-cb7f0e725cfa
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb3704-15c4-67ab-b4c0-1ac16310a800"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a45bc666-b9eb-4278-a3ac-c3748234f354
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_CAMPAIGNS_FROM_SERVICE
  response:
    body:
      string: '{"data":{"job_id":"20bb3701-4442-7df5-629d-c9f66999f700"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 6f342284-4cfb-4c77-86b4-976744dbd4eb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/refresh?table_name=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS&company_slug=operam
  response:
    body:
      string: '{"data":{"job_id":"20bb36fe-fe79-1ecd-ab65-a7de2209c000"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 502b9270-68db-4435-8900-6c222c0b5845
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicstg.com/api/v1/federated/metadata/SF/columns?company_slug=operam&table_filter=METRICS3_STG.ADWORDS_VIEWS.ENTITY_USER_LISTS
  response:
    body:
      string: '{"data":{"job_id":"20bb36fb-92d8-d278-d312-e8d7dd75e500"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1dc39558-74ad-40fc-b485-f7b27f6313e0
    status:
      code: 200
      message: OK
[...]
