interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.9.0", "minimum_supported_version": "0.9.0"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"8c5a0073438008aa2d82a4ee0ec798e5"'
      Last-Modified:
      - Tue, 18 Aug 2020 13:25:54 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - mqWuRCF5yzdAU.xDZMdGap6_or4wJXu0
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/auscsj124wDoFObOJ4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - X0y-OysZMZXxexEby5p7eAAAAoE
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1598865271'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/tables?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.%25
  response:
    body:
      string: '{"data":{"job_id":"20b340c1-8d34-b55d-8074-454ac9604e00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 418fdb4a-3257-4b7b-b8e1-a7cbca637eca
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/job/20b340c1-8d34-b55d-8074-454ac9604e00
  response:
    body:
      string: '{"data":{"job_status":"COMPLETED"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 9e4401b2-7ae5-4384-abca-29c6e8536cc5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/job/20b340c1-8d34-b55d-8074-454ac9604e00/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.LINEITEM","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.lineitem"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.NATION","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.nation"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.ORDERS","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.orders"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PART","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.part"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PARTSUPP","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.partsupp"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.REGION","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.region"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.SUPPLIER","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.supplier"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2350d824-249a-4344-b463-5a63f282fee8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b340be-8e94-5f2d-6c9f-211999e4bd00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ed78bdf5-64fd-41af-8657-64f36977a391
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER
  response:
    body:
      string: '{"data":{"job_id":"20b340bb-e3ef-db2e-833b-991388a7db00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 34e961f1-96ba-4439-953c-ba1f68cd8820
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/job/20b340bb-e3ef-db2e-833b-991388a7db00/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"data_reference":"\"C_CUSTKEY\"","data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","data_type":"DECIMAL","field_map":["c_custkey"],"model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer","uid":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer.c_custkey"},{"data_reference":"\"C_NAME\"","data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","data_type":"CHARACTER
        VARYING","field_map":["c_name"],"model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer","uid":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer.c_name"},{"data_reference":"\"C_ADDRESS\"","data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","data_[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.LINEITEM&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b340b9-ca19-9436-2f6c-596e9b2caa00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - fc57de30-38f1-4e0a-b0cc-96f3a5c7780d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.LINEITEM
  response:
    body:
      string: '{"data":{"job_id":"20b340b7-8c1c-ca01-fd73-b871d486a100"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 39ac6410-730c-4738-bed4-d517fcbab0f8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.NATION&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b340b7-589b-7602-7c92-d2136f26ae00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 8fd94aa3-ad4f-417d-b1ad-6de2d7594aa7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.NATION
  response:
    body:
      string: '{"data":{"job_id":"20b340b5-49d5-d4b0-a172-3da77a511c00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3ffde361-edfa-465e-bac1-6b37f07f25f4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.ORDERS&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b340b2-ec52-5493-13ed-e4a748795f00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 764ab5f7-041b-4004-b78e-1ea9806edcdd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.ORDERS
  response:
    body:
      string: '{"data":{"job_id":"20b340b1-1f4a-e48c-caa6-ea883856ab00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b331be38-1a00-4469-a35c-823f4f89388c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PART&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b340b0-78ed-77b3-a3b4-fd1f91f35300"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c76b44b9-9f17-43b6-be26-f25a7c774e6c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PART
  response:
    body:
      string: '{"data":{"job_id":"20b340a8-a03b-a0be-d83b-b2b3f3219500"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 477320a2-2eb8-49e4-87b1-4c05272bfd7b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PARTSUPP&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b340a1-a5fa-f1dc-60f7-f3e596c3a800"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 5fa95be9-d7e4-4159-9b86-ae7a9d08ee6a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PARTSUPP
  response:
    body:
      string: '{"data":{"job_id":"20b3409f-b2eb-2726-aa2a-497dd3320700"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ddbc23a4-4820-4f35-8e68-12e4a6770dab
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.REGION&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b3409f-405c-5673-cd43-787d283cad00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 0907fd23-9c5d-404a-8142-5c91040d296a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.REGION
  response:
    body:
      string: '{"data":{"job_id":"20b3409c-81b1-ef5f-a40e-8176ea86a100"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 8034b408-6de6-45ad-b333-af27303c22f6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.SUPPLIER&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b3409c-2598-7da4-8009-9817401faf00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 9e754a06-8a9d-4fb2-bed0-c4baeb1d0490
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.SUPPLIER
  response:
    body:
      string: '{"data":{"job_id":"20b34099-fc18-e314-6910-7505b970e400"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2f9705c2-6b94-45e3-8505-4c9792528b12
    status:
      code: 200
      message: OK
[...]
