interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"minimum_supported_version": "1.0.0", "latest_version": "1.2.0"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"b567ca5ec4a1c3c27497963ad975f8f5"'
      Last-Modified:
      - Fri, 30 Oct 2020 21:22:49 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - 7gL4L94FhP5vViOT0_j0Ees.dSesIhqr
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/auscsj124wDoFObOJ4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - X6LIRl3Bxq06390D4TX@RwAAABk
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1195'
      x-rate-limit-reset:
      - '1604503636'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/tables?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.%25
  response:
    body:
      string: '{"data":{"job_id":"205d37b5-9c71-1706-b91c-ae1627141c00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - afb28745-a7bd-4f4b-a209-ba7162f80cf7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/job/205d37b5-9c71-1706-b91c-ae1627141c00
  response:
    body:
      string: '{"data":{"job_status":"COMPLETED"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 7ce21139-dd0b-4e6a-8e7c-0abf397fcf18
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/job/205d37b5-9c71-1706-b91c-ae1627141c00/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.LINEITEM","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.lineitem"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.NATION","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.nation"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.ORDERS","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.orders"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PART","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.part"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PARTSUPP","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.partsupp"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.REGION","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.region"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.SUPPLIER","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.supplier"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 601a06d4-3663-4fbe-8868-84864448efbc
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"205d37b0-ba30-b7f3-fa35-9071c8340300"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - aa05bd85-7729-4738-b7bb-4e0792a911a0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER
  response:
    body:
      string: '{"data":{"job_id":"205d37ae-3f99-35b9-8a87-6807dd6ea400"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - cdb24fd7-7b03-4ec2-b9a9-4113ba0a5ac8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/job/205d37ae-3f99-35b9-8a87-6807dd6ea400/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"aggregation_type":"sum","data_reference":"\"C_CUSTKEY\"","data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","data_type":"DECIMAL","field_map":["c_custkey"],"model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer","taxon_type":"metric","validation_type":"numeric"},{"data_reference":"\"C_NAME\"","data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","data_type":"CHARACTER
        VARYING","field_map":["c_name"],"model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer","taxon_type":"dimension","validation_type":"text"},{"data_reference":"\"C_ADDRESS\"","data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","data_type":"CHARACTER
        VARYING","field_map":["c_address"],"model_name":"pano_snow[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.LINEITEM&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"205d37aa-9103-c790-1ad3-d7c15bdb0d00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 260e25b8-a7ce-4d20-8d89-a879aef7d23f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.LINEITEM
  response:
    body:
      string: '{"data":{"job_id":"205d37a9-4173-a7dd-7e97-868fb8ea0600"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ebc90f13-9f5e-4d94-a95b-563dd2601b92
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.NATION&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"205d37a6-6a86-a5bf-ff5f-ba6226106000"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f3d5cc9d-6f59-4647-bb3d-6a229b8de062
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.NATION
  response:
    body:
      string: '{"data":{"job_id":"205d37a2-86fc-0fcc-8240-0c5a4b5c8700"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c393d3a2-c734-4946-9227-13297c2e9f49
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.ORDERS&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"205d37a0-9c0f-5338-0819-0da8189ab400"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b612a1fd-55bf-4234-9bf5-e9dbdbdecb00
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.ORDERS
  response:
    body:
      string: '{"data":{"job_id":"205d379f-44f3-0985-24ee-7babf245ea00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 49c864a7-2be5-46fb-afa5-9d00d601020f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PART&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"205d379b-8d4f-a2ec-078a-2c9b32700b00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1c99db8d-19e1-45a5-9eb8-779c9c2b2b96
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PART
  response:
    body:
      string: '{"data":{"job_id":"205d3799-6999-04c7-ca87-e3af76568800"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - bcbd69e5-d91b-46de-826e-d28ef246dbf9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PARTSUPP&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"205d3796-4569-2e2d-7c5a-08a86f29ac00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c7a2a87c-d96f-4241-9bc4-7df8d55ea8f3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PARTSUPP
  response:
    body:
      string: '{"data":{"job_id":"205d3795-36bc-9ffc-bb34-1c0beafb0d00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b974ee29-9d0f-40cb-a575-1a602ac8e5fe
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.REGION&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"205d3792-ffcc-3dd5-6caf-c910fccf2300"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a7047536-cfcb-4a7d-be43-d76a90356df4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.REGION
  response:
    body:
      string: '{"data":{"job_id":"205d3790-c055-710c-23f4-c6ef62c2f900"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 046f70eb-db78-4e2b-9e62-d310c03f88d7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.SUPPLIER&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"205d378e-3f08-28ce-1337-6445fc7d4300"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b3868fdd-102b-4c4b-99f7-7c6b09ee5af0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.SUPPLIER
  response:
    body:
      string: '{"data":{"job_id":"205d378a-a0b9-b838-9e31-75a191e01800"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 77634a64-f36c-448a-897b-e67347e74190
    status:
      code: 200
      message: OK
[...]
