interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"minimum_supported_version": "1.0.0", "latest_version": "1.2.0"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"b567ca5ec4a1c3c27497963ad975f8f5"'
      Last-Modified:
      - Fri, 30 Oct 2020 21:22:49 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - 7gL4L94FhP5vViOT0_j0Ees.dSesIhqr
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/auscsj124wDoFObOJ4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - X6LI3cddIlEzzYQnPCYYcQAABag
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1197'
      x-rate-limit-reset:
      - '1604503777'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/tables?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.%25
  response:
    body:
      string: '{"data":{"job_id":"205d371f-a5d2-8de8-4d8d-d92d4d5c3e00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 9e171769-9058-4364-9bf7-d881e67de433
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/job/205d371f-a5d2-8de8-4d8d-d92d4d5c3e00
  response:
    body:
      string: '{"data":{"job_status":"COMPLETED"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 5d04c8a4-b6d0-4ab8-a03e-7c17180df4b8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/job/205d371f-a5d2-8de8-4d8d-d92d4d5c3e00/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.LINEITEM","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.lineitem"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.NATION","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.nation"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.ORDERS","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.orders"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PART","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.part"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PARTSUPP","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.partsupp"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.REGION","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.region"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.SUPPLIER","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.supplier"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 8439110a-8a4f-431c-8178-52d44663f821
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"205d371a-fbe6-263d-be91-ca33b7107500"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 5ca7ac37-8543-4633-b18d-b3af6b72ef2b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/pano_snowflake_66?company_slug=panoramic-z5y1clyi&table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER
  response:
    body:
      string: '{"data":{"job_id":"c16e9024-826b-43fc-94c8-a0f8078db985"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3b5509b1-c066-43dd-87e0-013becf182a2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/job/c16e9024-826b-43fc-94c8-a0f8078db985
  response:
    body:
      string: '{"data":{"identifiers":["C_MKTSEGMENT","C_COMMENT","C_ADDRESS","C_PHONE","C_NAME"],"job_id":"c16e9024-826b-43fc-94c8-a0f8078db985","status":"COMPLETED"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - cbaabdf7-14b9-4623-aa43-63d1ecd76b1a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER
  response:
    body:
      string: '{"data":{"job_id":"205d3708-f365-247f-0332-28bd57f55700"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3d11b7d2-30b4-40b3-8080-5707278cb30c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/job/205d3708-f365-247f-0332-28bd57f55700/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"aggregation_type":"sum","data_reference":"\"C_CUSTKEY\"","data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","data_type":"DECIMAL","field_map":["c_custkey"],"model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer","taxon_type":"metric","validation_type":"numeric"},{"data_reference":"\"C_NAME\"","data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","data_type":"CHARACTER
        VARYING","field_map":["c_name"],"model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer","taxon_type":"dimension","validation_type":"text"},{"data_reference":"\"C_ADDRESS\"","data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","data_type":"CHARACTER
        VARYING","field_map":["c_address"],"model_name":"pano_snow[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.LINEITEM&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"205d3704-97d4-764e-0301-a504f60dea00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - deba8469-0e56-4cbf-a3fe-2d9e6fa41a4d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/pano_snowflake_66?company_slug=panoramic-z5y1clyi&table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.LINEITEM
  response:
    body:
      string: '{"data":{"job_id":"da85d70c-3ad5-4edc-a634-d6338ab39a3f"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 0f9ca42c-3c60-47dc-bbdb-384ffb1c0dd3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.ORDERS&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"205d36b7-1ee3-cda6-0ea5-49bfeede8200"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3472c794-b112-40bb-9fb8-fe023d288a7f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/pano_snowflake_66?company_slug=panoramic-z5y1clyi&table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.ORDERS
  response:
    body:
      string: '{"data":{"job_id":"3f64ee2a-fcaf-4579-bb49-f4a7ba63f941"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 55cd86cd-196f-4a85-959c-ce589737112a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PART&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"205d3667-0b6a-45ec-9e69-d35ca4160200"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - bcced804-9590-4feb-9d29-d55d26fcfe01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/pano_snowflake_66?company_slug=panoramic-z5y1clyi&table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PART
  response:
    body:
      string: '{"data":{"job_id":"81645085-3fac-4644-ab5d-52ea0359ecbe"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - cc0bf9f8-38bc-4156-99ad-587645ad39fc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PARTSUPP&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"205d3652-913a-1fe2-8b17-1f8df230c400"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 818c4027-3236-4829-b43d-88b027682c3e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/pano_snowflake_66?company_slug=panoramic-z5y1clyi&table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PARTSUPP
  response:
    body:
      string: '{"data":{"job_id":"72846a62-7853-4250-8ae4-cbd946e734e2"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 02dfbbab-3245-4a21-96d0-23710bf28681
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.SUPPLIER&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"205d3602-27dd-92a7-6911-e12d4a4f6600"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ce605d2c-45c0-45e7-bef1-7aff85659201
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/pano_snowflake_66?company_slug=panoramic-z5y1clyi&table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.SUPPLIER
  response:
    body:
      string: '{"data":{"job_id":"4ee4f8f8-9c05-4299-ae47-d3eaf5887653"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ba567dc0-5cb9-4154-9fb3-c4116640ee62
    status:
      code: 200
      message: OK
version: 1
