interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.9.0", "minimum_supported_version": "0.9.0"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"8c5a0073438008aa2d82a4ee0ec798e5"'
      Last-Modified:
      - Tue, 18 Aug 2020 13:25:54 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - mqWuRCF5yzdAU.xDZMdGap6_or4wJXu0
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/auscsj124wDoFObOJ4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - X0y-aCsZMZXxexEby5p8CQAAAmg
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '597'
      x-rate-limit-reset:
      - '1598865271'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/tables?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.%25
  response:
    body:
      string: '{"data":{"job_id":"20b34095-7e6d-d49e-102d-d3ffed460100"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 3cac3cfc-5a6c-4eaf-9482-f450c9471360
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/job/20b34095-7e6d-d49e-102d-d3ffed460100
  response:
    body:
      string: '{"data":{"job_status":"COMPLETED"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 7474f276-6663-483a-9a5e-1ea88f946169
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/job/20b34095-7e6d-d49e-102d-d3ffed460100/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.LINEITEM","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.lineitem"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.NATION","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.nation"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.ORDERS","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.orders"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PART","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.part"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PARTSUPP","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.partsupp"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.REGION","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.region"},{"data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.SUPPLIER","model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.supplier"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 17fddd4f-be70-45de-b2af-67dd9e87c2d1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b34091-8e41-d2c3-b068-8b926d899800"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - c6ca4b15-e6a2-4afc-a3e4-0c08f46d1702
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/pano_snowflake_66?company_slug=panoramic-z5y1clyi&table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER
  response:
    body:
      string: '{"data":{"job_id":"6a7cd271-3ca4-4c28-a636-9f53fdb89db3"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 9ef5075e-9387-4c3a-828b-962b0e8842d3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/job/6a7cd271-3ca4-4c28-a636-9f53fdb89db3
  response:
    body:
      string: '{"data":{"identifiers":["c_name","c_comment","c_mktsegment","c_phone","c_address"],"job_id":"6a7cd271-3ca4-4c28-a636-9f53fdb89db3","status":"COMPLETED"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 19cb0452-eb38-48c1-8319-ce528bad6628
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER
  response:
    body:
      string: '{"data":{"job_id":"20b3407c-e9f4-7d1c-684a-cc49a2e16100"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f82777a5-ed06-49e4-b899-4653af9a0e8a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/job/20b3407c-e9f4-7d1c-684a-cc49a2e16100/results?offset=0&limit=500
  response:
    body:
      string: '{"data":[{"data_reference":"\"C_CUSTKEY\"","data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","data_type":"DECIMAL","field_map":["c_custkey"],"model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer","uid":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer.c_custkey"},{"data_reference":"\"C_NAME\"","data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","data_type":"CHARACTER
        VARYING","field_map":["c_name"],"model_name":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer","uid":"pano_snowflake_66.snowflake_sample_data.tpch_sf1.customer.c_name"},{"data_reference":"\"C_ADDRESS\"","data_source":"pano_snowflake_66.SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.CUSTOMER","data_[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.LINEITEM&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b3407c-2a4f-343a-17ef-eee319521400"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 4d46bc7c-646f-4499-b74d-d2c15d786151
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/pano_snowflake_66?company_slug=panoramic-z5y1clyi&table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.LINEITEM
  response:
    body:
      string: '{"data":{"job_id":"a343ef8d-afc3-44ff-8366-3bb5fd1e20ed"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 5ff2f55d-ea7d-447c-a8fc-bcf304f841ca
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.LINEITEM
  response:
    body:
      string: '{"data":{"job_id":"20b3405a-8946-3ea5-9a10-148af843c700"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - ba3e57d8-66d0-4344-85af-5edcd45c3f0a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.NATION&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b34059-50ac-0eb8-2e5e-759289b77b00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - d0bbfe89-342a-4e2d-9e8c-87b5cd29cf55
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/pano_snowflake_66?company_slug=panoramic-z5y1clyi&table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.NATION
  response:
    body:
      string: '{"data":{"job_id":"10960a3d-a199-430a-b739-4e9a818a1883"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b3eb08d4-01e4-4848-8ed1-06256bb7e923
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.NATION
  response:
    body:
      string: '{"data":{"job_id":"20b3404f-d7a5-cb1f-af68-2c1794348d00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 477ad3e6-132c-4b5c-af0c-dba583e9e131
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.ORDERS&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b34049-9881-e147-26f8-dc01bd852b00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1a8694c4-a751-4fa6-abc6-a039bb62d469
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/pano_snowflake_66?company_slug=panoramic-z5y1clyi&table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.ORDERS
  response:
    body:
      string: '{"data":{"job_id":"c17f5945-6e4e-496f-bc9c-7232b518bece"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b686b3da-e42b-4cbb-9028-4a3dadc5e90c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.ORDERS
  response:
    body:
      string: '{"data":{"job_id":"20b3403d-b1ea-e612-30f2-dc2ad5ab8c00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 0a81f6ae-cb4b-47f2-93d5-c70c68596458
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PART&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b3403d-d3ab-c210-9a49-60eda6323d00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e09032b7-d6aa-4439-b9ad-db5d18a46ef1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/pano_snowflake_66?company_slug=panoramic-z5y1clyi&table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PART
  response:
    body:
      string: '{"data":{"job_id":"4f329213-a4c8-432e-826c-e42c2f0a4601"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 80f4ad67-13af-4ce8-ae0d-e0dde10d0159
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PART
  response:
    body:
      string: '{"data":{"job_id":"20b3402e-ea48-e4d4-7506-2974243a7f00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e4defd6a-c396-4c5d-ae59-854a581cbb7a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PARTSUPP&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b3402d-8898-f086-097f-e92876907e00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - aa3acc50-5c19-4354-942b-488a9d8beea1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/pano_snowflake_66?company_slug=panoramic-z5y1clyi&table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PARTSUPP
  response:
    body:
      string: '{"data":{"job_id":"beed5a73-fe3d-4f80-9c2a-7450fe697b3f"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - f857aa43-cf02-45eb-8741-4d08c6d30296
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.PARTSUPP
  response:
    body:
      string: '{"data":{"job_id":"20b34029-26bb-d0bf-0023-81e6889ee700"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 1763b5ca-ae8f-4b57-8216-0a1c679a9bd0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.REGION&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b34025-e82f-3959-0c2a-16ba2cad6900"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 4181f3d8-35b4-41b3-801a-03e00295f2fc
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/pano_snowflake_66?company_slug=panoramic-z5y1clyi&table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.REGION
  response:
    body:
      string: '{"data":{"job_id":"00b581ae-5a8e-4206-a18b-755d12a32a6e"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - e1743f05-2443-4825-9921-704189b512d1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.REGION
  response:
    body:
      string: '{"data":{"job_id":"20b3401e-4b5f-69ac-50ef-3cb651d63900"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 2925c137-7501-4879-b3f4-aa82bb3521fe
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/refresh?table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.SUPPLIER&company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":{"job_id":"20b3401d-0241-38d0-3129-9e22c1df0a00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - cc5dac51-3ab6-4fdd-9ac5-89e112228b3c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/identifier/pano_snowflake_66?company_slug=panoramic-z5y1clyi&table_name=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.SUPPLIER
  response:
    body:
      string: '{"data":{"job_id":"e7dbf5b4-774e-46ec-9fc5-5edee444ef4f"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - 71564d2a-cf35-4909-8ac9-1741e4682d67
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://diesel.panoramicapi.com/api/v1/federated/metadata/pano_snowflake_66/columns?company_slug=panoramic-z5y1clyi&table_filter=SNOWFLAKE_SAMPLE_DATA.TPCH_SF1.SUPPLIER
  response:
    body:
      string: '{"data":{"job_id":"20b34010-436c-51bc-7517-4b4bf1c24a00"}}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - b348e3b3-e5e9-4108-b910-981eb0850829
    status:
      code: 200
      message: OK
[...]
