interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://a1.panocdn.com/updates/pano-cli/versions.json
  response:
    body:
      string: '{"latest_version": "0.9.0", "minimum_supported_version": "0.9.0"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"8c5a0073438008aa2d82a4ee0ec798e5"'
      Last-Modified:
      - Tue, 18 Aug 2020 13:25:54 GMT
      x-amz-replication-status:
      - COMPLETED
      x-amz-version-id:
      - mqWuRCF5yzdAU.xDZMdGap6_or4wJXu0
    status:
      code: 200
      message: OK
- request:
    body: grant_type=client_credentials&scope=platform
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.panoramichq.com/oauth2/auscsj124wDoFObOJ4x6/v1/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3600, "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "scope": "platform"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - X0zCySmUQ5SLQNs1eLhkgQAAAcQ
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1598866181'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diesel.panoramicapi.com/api/v1/federated/physical-data-source/?company_slug=panoramic-z5y1clyi
  response:
    body:
      string: '{"data":[{"company_id":"66","created_at":"2020-08-11T20:13:41.481663+00:00","created_by":{},"display_name":"Pano
        Snowflake","source_id":"420c6a7e-ab9a-42df-b546-f050d9453ded","source_name":"pano_snowflake_66","updated_at":null}]}

        '
    headers:
      Content-Type:
      - application/json
      x-diesel-request-id:
      - a3843dfb-d144-4f8e-80df-6faedb3b88af
    status:
      code: 200
      message: OK
version: 1
